.cc-window {
    z-index: 10009 !important;
    background-color: #f0f0f0 !important;
    color: #333 !important;
    border: 1px solid #333 !important;
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}
.cc-message {
    color: #333 !important;
}
.cc-btn {
    color: #333 !important;
    cursor: pointer !important;
}
.cc-link {
    color: #ffd700 !important;
    text-decoration: underline !important;
}
.cc-deny, .cc-allow {
    background-color: #ffd700 !important;
    color: #333 !important;
    cursor: pointer !important;
    padding: 10px 20px !important;
    margin: 0 5px !important;
    border: none !important;
    outline: none !important;
}